<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info" internalLogFile="slacker-trivia-api.log">
    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
        <add assembly="NLog.DiagnosticSource" />
    </extensions>
    <targets>
        <target name="database" xsi:type="Database"
                dbProvider="Npgsql.NpgsqlConnection, Npgsql">
            <commandText>
                INSERT INTO log(log_time, application, logger, level, message, exception, event_id, trace_id, user_id)
                VALUES(TO_TIMESTAMP(@LogTime, 'YYYY-MM-DD HH24:MI:SS.MS'),@Application,@Logger,@Level,@Message,@Exception,@EventId,@TraceId,@UserId);
            </commandText>
            <parameter name="@LogTime" layout="${date}" />
            <parameter name="@Application" layout="slacker-trivia-api" />
            <parameter name="@Logger" layout="${logger}" />
            <parameter name="@Level" layout="${level}" />
            <parameter name="@Message" layout="${message}" />
            <parameter name="@Exception" layout="${exception:tostring}" />
            <parameter name="@EventId" layout="${event-properties:EventId:whenEmpty=0}" dbType="Int32" />
            <parameter name="@TraceId" layout="${activity:property=TraceId}" />
            <parameter name="@UserId" layout="${aspnet-request-headers:HeaderNames=userId:ValuesOnly=true}" />
        </target>
    </targets>
    <rules>
        <logger name="Microsoft.*" finalMinLevel="Warn" writeTo="database" />
        <logger name="Microsoft.AspNetCore.Hosting.*" finalMinLevel="Error" writeTo="database" />
        <logger name="*" minlevel="Info" writeTo="database" />
    </rules>
</nlog>